@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
.tokenomics{
    #doughnutChart {
      
    }
    margin-top: 150px;
    display: flex;
    @media #{$md} {
        margin-top: 80px;
    }
    .tokenomics-content{
        margin-top: 80px;
        @media #{$md} {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            // max-width: 320px;
        }
        .chart-wrapper{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 92%; 
            margin: auto;
            @media #{$xl} {
                width: 100%;
            }
            @media #{$sm} {
                margin: -60px 0;
            }
            canvas{
                @media #{$sm} {
                    width: 380px !important;
                    height: 380px !important;
                }
            }
        }
        .chart-center{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #453F3B;
            height: 450px;
            width: 450px;
            z-index: 9;
            border-radius: 50%;
            padding: 25px;

            img{
                @media #{$sm} {
                    height: 85px;
                    width: 85px;
                }
            }

            @media #{$xl} {
                height: 380px;
                width: 380px;
                padding: 25px;
                margin-top: -4px;
            }
            @media #{$lg} {
                height: 280px;
                width: 280px;
            }
            @media #{$sm} {
                height: 255px;
                width: 255px;
                border: unset;
            }
            .chart-center-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                @media #{$xl} {
                    padding: 40px;
                }
            }
            .supply-title{
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 34px;
                text-transform: capitalize;
                @media #{$sm} {
                    font-size: 12px;
                }
            }
            .supply-value{
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 25px;
                font-weight: 500;
                line-height: 34px;
                text-transform: capitalize;
                @media #{$sm} {
                    font-size: 12px;
                }
            }
            img{
                margin: 10px 0;
            }
        }

    }
    .sec-heading{
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: center;
        justify-content: center;
        @media #{$md} {
            gap: 7px;
        }
        h2{
            color: #FFF;
            font-family: Poppins;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media #{$md} {
                font-size: 32px;
            }

            span{
                background: linear-gradient(94deg, #B5E014 72.02%, #42A7D6 95.63%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Poppins;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                
            @media #{$md} {
                font-size: 32px;
            }
            }
            img{
                @media #{$md} {
                    width: 20px;
                }
            }
        }
    }
    .toke-text-content{
        display: flex;
        flex-direction: column;

        gap: 30px;
        margin-left: 80px;
        
        @media #{$md} {
        margin-left: 0;
        margin-top: 50px;
        }
        .toke-desc-box{
            display: flex;
            align-items: center;
            gap: 25px;
            .percent{
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 25px;

                font-weight: 700;
                line-height: 34px; /* 136% */
                text-transform: capitalize;
                height: 80px;
                width: 80px;
                min-height: 80px;
                min-width: 80px;
                border-radius: 20px;
                border: 1px solid #FFF;
                background: #1386AA;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .toke-desc{
                text-align: left;
                h4{
                    color: #FFF;

                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 34px; /* 188.889% */
                    text-transform: capitalize;
                }
                p{
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 34px; /* 188.889% */
                    text-transform: capitalize;
                }
            }
            &:nth-child(2){
                .percent{
                    background:#5CC9EB;
                }
            }            
            &:nth-child(3){
                .percent{
                    background:#0A8DB6;
                }
            }            
            &:nth-child(4){
                .percent{
                    background:#0E5913;
                }
            }            
            &:nth-child(5){
                .percent{
                    background:#02D110;
                }
            }
        }
    }
}

.footer{
    margin-top: 200px;
    margin-bottom: 50px;
    .footer-content{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // background-image: url(../img/footer/f-bg.png);
        // background-size: ;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 50px 30px;
        a{
            &:nth-child(1){
                margin-right: 60px;
                @media #{$md} {
                    margin-right: 20px;
                    width: 80px;
                }
            }
            &:nth-child(3){
                margin-left: 40px;
                @media #{$md} {
                    margin-left: 0px;
                    width: 125px;
                }
            }
        }
    }
    @media #{$md} {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .bg-shape{
        display: inline-block;
        border-radius: 191px;
        background: linear-gradient(180deg, #161817 0.35%, #1386AA 156.11%);
        filter: blur(150px);
        height: 200px;
        width: 200px;
        position: absolute;
        z-index: -1;
    }
}

